/*src/comps/Heros.css*/
.race-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.hero-list{
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}