/*src/comps/Heros.css*/
.race-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.hero-list{
    flex: 1;
    overflow-y: auto;
}