/*src/comps/Hero.css*/
.hero-container{
    display: flex;
    align-items: center;
    padding: 2vw;
}
.hero-info{
    margin-left:1em;
}
.hero-name{
    font-weight: 500;
}
.hero-price,.hero-pro,.hero-race{
    margin-left:1em;
    font-size: 0.8em;
    color: #666;
}
